<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous"> 
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1>Welcome to my One Month Python Projects</h1> 
				<p>My name is Katy and I am the best. I built this site using a python class on <a href:="http://onemonth.com">One Month</a>
				</p>
				<a href="{{ url_for('index') }}">Return to home page</a>
			</div>
		</div>
	</body>
</html>